h1 {
    margin :0px;
}

button{
    outline: none;
}

input[type=text] {
    display: block;
    width: 98%;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.514);
    opacity: 0.8;
    border-radius: 10px;
    border-color:  rgba(233, 233, 233, 0.884);
    padding-left: 5px;
    font-family: 'Courier New', Courier, monospace;
    color:  rgba(255, 255, 255, 0.952);
    font-weight: 400;
    font-size: 1.2em;
    outline: none;
    position: absolute;
    bottom: 0.3%;
    left: 0.5%;
    
}

.tutorial {
    width: 30%;
    padding: 1.5em;
    background-color: rgba(0, 0, 0, 0.692);
    color:  rgba(255, 255, 255, 0.87);
    margin: auto;
    margin-top: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 200;
    font-size: 0.85em;
}

.tutorial button {
    border-color: rgba(255, 255, 255, 0.87);
    background-color: rgba(0, 0, 0, 0);
    width: 20%;
    color:  rgba(255, 255, 255, 0.87);
    margin-left: 40%;
    margin-right: 40%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 200;
    font-size: 1em;
    padding: 0.5em;
}
.output {
    padding-left: 20px;
    text-indent: -20px;
    display: block;
    max-width: 90%; 
    overflow: hidden;
    position: absolute;
    bottom: 3.5%;
    left: 1%;
    font-family: 'Courier New', Courier, monospace;
    color: white;
}

.ingame_menu {
    position: absolute;
    right: 0.5%;
    top: 0%;
}

.ingame_menu button {
    background: none;
    border-style: none;
    padding: 0;
}

.menu {
    /* border-radius: 10px; */
    width: fit-content;
    position: absolute;
    top: 5%;
    right: 5%;
    background-color: rgba(0, 0, 0, 0.55);
    color: White;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 50;
    white-space: nowrap;
    overflow-x: auto;
    box-shadow: 3px 4px 2px 2px rgba(0, 0, 0, 0.3);
}

.menu button {
    margin: 0;
    border-style: none;
    background-color: rgba(0, 0, 0, 0);
    padding: 0.65em;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1em;
    float: left;
}

.menu a{
    padding: 0.65em;
}

.menu th, tr, table, tbody {
    border-collapse: collapse;
    padding: 0;
    margin: 0;
}

.menu a, .menu button {
    color: white;
    text-decoration: none;
    display: inline-block;
    font-weight: 200;
}

.menu a:hover, .menu button:hover {
    box-shadow: inset 2px 2px 3px 2px rgba(0, 0, 0, 0.25)
}

.menu a:active, .menu button:active {
    box-shadow: inset 3px 3px 4px 3px rgba(0, 0, 0, 0.35)
}

ul {
    list-style: none;
    padding: 0;
}

.death {
padding: 0;
margin: 0px;
font-family: Arial, Helvetica, sans-serif;
position: relative;
top: 35%;
text-align: center;
color: white;
font-weight: 30;
border-style: none;
}

.death h3 {
    margin: 0%;
}

.death a {
    margin: 0px;
    color: white;
    text-decoration: none;
    position: relative;
    top: 13em;
    padding: 1em;
    border: 1px solid white;
}

.about-container {
    background-color: rgba(0, 0, 0, 0.582);
    width: 70%;
    height: 70%;
    position: absolute;
    top: 15%;
    left: 15%;
    box-shadow: 3px 4px 2px 2px rgba(0, 0, 0, 0.3);
    text-align: center;
}

.about-container img {
   margin: 20px;
   position: absolute;
   left: 0px;

}
.about-container h2 {
    margin-top: 50px;
}

.about-container p {
    margin: 10px;
}

.about-container p, .about-container h2 {
    
    color:  rgba(255, 254, 254, 0.692);
    font-family: 'Courier New', Courier, monospace;
    display: inline-block;
    max-width: 80%;
}
