<!Doctype html>
<html>

<head>
    <title>David Simulator</title>
    <link rel="stylesheet" type="text/css " href="{{ url_for('static', filename='css/style.css') }}">
    <style>
        body,
        html {
            height: 100%;
            margin: 0%;
            width: 100%;
        }


        .bg {
            background-image: url("/static/images/index_blur.jpg");
            background-color: grey;
            height: 100%;
            width: 100%;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
    </style>
</head>
<Body>
    <div class=bg>
        <div class="about-container">
        <a href="/"><img src="/static/icons/back.png"></a>
        <h2>About David Simulator 2018</h2><br>
        <br>
        <p>The David Simulator is an authentic simulation of life, <br> based on the real person named David. <br>
            <br>
            David is a university student living in a shared flat in east Berlin. <br>
            His unique character
            is optimal to portray the joys and challenges of everyday life in the year 2018 and his story will thus serve as
            a time capsule for future generations. <br>
            <br>
            The idea and creation of the David Simulator eminated from his flatmate Leon who felt inspired 
            and fascinated by Davids presence. <br> 
            With the help of modern technology and the support of numerous friends the remarkable David-Experience
            can now be recognized by everyone... <br>
            <br>
            <br>
            The David Simulator will soon be available in English.

        </p>
    </div>
    </div>
</Body>

</html>