<!Doctype html>
<html>

<head>
    <title>David Simulator</title>
    <link rel="shortcut icon" type="image/x-icon" href="/static/favicon.ico">
    <link rel="stylesheet" type="text/css " href="{{ url_for('static', filename='css/style.css') }}">
    <style>
        body,
        html {
            height: 100%;
            margin: 0%;
            width: 100%;
        }


        .bg {
            background-image: url("/static/images/index_blur.jpg");
            background-color: grey;
            height: 100%;
            width: 100%;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
    </style>
</head>
<Body>
    <div class=bg>
        <div class="about-container">
        <a href="/"><img src="/static/icons/back.png"></a>
        <div class="credit-container" >
            <table>
                <tr>
                    <th><h4>Based on</h4></th>
                    <th><h4>Photography</h4></th>
                    <th><h4>Photo Editing</h4></th>
                    <th><h4>Development</h4></th>
                </tr>
                <tr>
                    <td>
                        <a href="https://www.instagram.com/davidspfeffidiary/" target="_blank"><p>David</p></a></td>
                        <td><a href="https://www.instagram.com/aalwayshardcore/" target="_blank"><p>Kolja</p><br></a></td>
                        <td><a href="https://www.instagram.com/aalwayshardcore/" target="_blank"><p>Kolja</p><br></a></td>
                        <td><a href="https://github.com/leonvdb" target="_blank"><p>Leon</p><br></a></td>
                </tr>
                <tr>    
                    <td>
                        <a href="https://www.instagram.com/davidspfeffidiary/" target="_blank"><img src="/static/icons/instagram.png"></a></td>
                        <td id="kolja_insta"><a href="https://www.instagram.com/aalwayshardcore/" target="_blank"><img src="/static/icons/instagram.png"></td>
                            <td id="kolja2"><a href="https://www.instagram.com/aalwayshardcore/" target="_blank"><img src="/static/icons/instagram.png"></td>  
                                <td id="leon_dev"><a href="https://github.com/leonvdb" target="_blank"><img src="/static/icons/github.png"></td>   
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                        <td><a href="https://github.com/acidyumyum" target="_blank"><p>Luzius</p><br></a></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td id="luzius"><a href="https://github.com/acidyumyum" target="_blank"><img src="/static/icons/github.png"></td>  
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                        <td><a href="https://github.com/leonvdb" target="_blank"><p>Leon</p><br></a></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td id="leon_ed"><a href="https://github.com/leonvdb" target="_blank"><img src="/static/icons/github.png"></td>
                </tr>
            </table>
            
        </div>
    </div>
    </div>
</Body>

</html>