<!Doctype html>
<html>

<head>
    <title>David Simulator</title>
    <link rel="stylesheet" type="text/css "href="{{ url_for('static', filename='css/style.css') }}">
    <style>
        body,
        html {
            height: 100%;
            margin: 0%;
            width: 100%;
        }


        .bg {
            background-image: url("/static/images/home.jpg");
            background-color: grey;
            height: 100%;
            width: 100%;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
    </style>
</head>

<Body>
    <div class=bg>
        <div class=menu>
            <ul>
                <li><a href="/game">Neues Spiel</a></li>
                <li><a href="/tutorial">Tutorial</a></li>
                <li><a href="/credits">Credits</a></li>
            </ul>
          
        </div>
    </div>
</Body>

</html>