<!Doctype html>
<html>

<head>
    <title>David Simulator</title>
    <link rel="stylesheet" type="text/css " href="{{ url_for('static', filename='css/style.css') }}">
    <style>
        body,
        html {
            height: 100%;
            margin: 0%;
            width: 100%;
        }


        .bg {
            background-image: url("/static/images/home.jpg");
            background-color: grey;
            height: 100%;
            width: 100%;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
    </style>
</head>
<Body>
    <div class=bg>
        <div class=menu>
            <table>
                <tr>
            <form action="/" method="POST">
               <th><button type="submit" name="new_game" value=True>Neues Spiel</button></th> 
                {% if player_data %}
                <th><button type="submit" name="continue_game" value=True>Spiel fortsetzten</button></th>
                {% endif %}      
            </form>
            <th><a href="/about">About</a></th>
            <th><a href="/credits">Credits</a></th>
        </tr>
        </table>
        </div>
    </div>
</Body>

</html>