<!Doctype html>

<html>
    <head>
        <title>David Simulator</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" type="image/x-icon" href="/static/favicon.ico">
        <link rel="stylesheet" type="text/css " href="{{ url_for('static', filename='css/style.css') }}">
        <style>

        body,
        html {
            height: 100%;
            margin: 0%;
            width: 100%;
        }

        .bg {

    background: url("/static/images/index_blur.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    overflow: hidden;
}
        </style>
    </head>
<body>
    <div class=bg>
    <div class=mobile>
        <img src="/static/david.png">
        <img src="/static/simulator.png">
    <p>The David Simulator is not optimized for mobile devices. <br> <br>
        Please visit from a desktop device.
    </p>
   
</div>
</div>
</body>
    </html>