{% extends "layout.html" %}

{% block content %}

<h1> {{ room.name }} </h1>

<pre>
{{ room.description }}
</pre>

{% if room.name in ["death", "The End"] %}
    <p><a href ="/">Play Again?</a></p>
{% else %}
    <form action="/game" method="POST" name="action_form" autocomplete="off" spellcheck="false">
         <input type="text" name="action">
    </form>
{% endif %}

{% if action_name %}
<div class="output">
    <p>> {{ action_name }}</p>
</div>
{% endif %}
<div class=ingame_menu>
    <p><a href="/">Home</a></p>
</div>

{% endblock %}

