<!Doctype html>
<html>

<head>
    <title>David Simulator</title>
    <link rel="stylesheet" type="text/css " href="{{ url_for('static', filename='css/style.css') }}">
    <style>
        body,
        html {
            height: 100%;
            margin: 0%;
            width: 100%;
        }


        .bg {
            background-image: url("/static/images/dead.jpg");
            background-color: grey;
            height: 100%;
            width: 100%;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            margin: 0;
        }
    </style>
</head>

<body>
<div class="bg">
        <div class="death"> 
        
    <h3>Du bist gestorben...</h3>
    <p><a href="/">Zurück ins Hauptmenü</a></p>
</div>
</div>
</body>

</html>