<!Doctype html>
<html>

<head>
    <title>David Simulator</title>
    <link rel="stylesheet" type="text/css " href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="shortcut icon" type="image/x-icon" href="/static/favicon.ico">
    <style>
        body,
        html {
            height: 100%;
            margin: 0%;
            width: 100%;
        }


        .bg {
            background-image: url("/static/images/simulation_over.jpg");
            background-color: grey;
            height: 100%;
            width: 100%;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            margin: 0;
        }
    </style>
</head>

<body>
<div class="bg">
        <div class="death"> 
        
    <h3>Du hast den Rattenkönig besiegt und hast gewonnen! Die Simulation ist hiermit beendet. <br>
    <br>
    Zur Belohnung wird dir der echte David auf Instagram folgen und ein Bild von dir in seiner Story posten. <br>
    Schick einfach das Bild, deinen Instagram Accountnamen und das Codewort an leon.vondemberge@gmail.com <br><br>
    Herzlichen Glückwunsch und danke für deinen Eifer!</h3>
    <p><a href="/">Zurück ins Hauptmenü</a></p>
</div>
</div>
</body>

</html>